// Globals

@import 'globals/font';
@import 'globals/reset';
@import 'globals/variables';

// Mixins

@import 'mixins/responsive';

// Components

@import 'components/form';


body {
    font-family: 'open-sans';
    font-weight: normal;
}


.error{
    position: absolute;
    top: 0;
    width: 100%;
    background: #A15E49;
    p{
        text-align: center;
        color: $white;
        padding: 10px 0;
    }
    
}